:root {
  --ion-color-primary: #FAB01B;
  --ion-color-primary-rgb: 250, 176, 27;
  --ion-color-primary-contrast: #152232;
  --ion-color-primary-contrast-rgb: 21, 34, 50;
  --ion-color-primary-shade: #E09B19;
  --ion-color-primary-tint: #FBB84A;

  --ion-color-secondary: #1DC38F;
  --ion-color-secondary-rgb: 29, 195, 143;
  --ion-color-secondary-contrast: #152232;
  --ion-color-secondary-contrast-rgb: 21, 34, 50;
  --ion-color-secondary-shade: #1BA37D;
  --ion-color-secondary-tint: #3ACC9D;

  --ion-color-accent: #FD8144;
  --ion-color-accent-rgb: 253, 129, 68;
  --ion-color-accent-contrast: #152232;
  --ion-color-accent-contrast-rgb: 21, 34, 50;
  --ion-color-accent-shade: #E5753E;
  --ion-color-accent-tint: #FD925F;

  --ion-background-color: #FEF7E7;
  --ion-text-color: #152232;
}
  